.contacts-container {
    background: radial-gradient(#9ddbf3, #cff1f3);
    position: relative;
    z-index: 0;
    overflow: hidden;
    .wave {
        position: absolute;
        left: 0;
        bottom: -10%;
        width: 100%;
        z-index: -1;
    }
}
.contacts {
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .email-contacts {
        text-align: right;
        .email {
            width: 75%;
            height: 4rem;
        }
        .text {
            width: 75%;
            height: 10rem;
            padding: 0.1rem;
        }
        .btn {
            width: 25%;
            height: 3rem;
            padding: 0 20px;
            font-size: 1rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: #191f5f;  
        }

        .btn:hover {
            background-color: rgb(20, 99, 122);
                
        }
    }    
    
}
